html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
  font-family: Arial, sans-serif;
  color: #222;
    height: 100%;
}
main {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
}
.boards-section {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    height: 100%;
}
.board-container {
    width: 50%;
    height: 100%;
  background: #8ecae6;
}
.sidebar {
    width: 20%;
    text-align: center;
    /*margin-top: 60px;*/
    background-color: #023047;
    color: #ffb703;
    font-weight: bold;
}
header {
    text-align: center;
    height: 80px;
    background-color: #023047;
    color: #ffb703;
}

.board-wrapper {
  display: grid;
  grid-template-columns: 30px repeat(10, 30px);
  grid-template-rows: 30px repeat(10, 30px);
  justify-content: center;
  margin: 0 auto;
  background: #8ecae6;
  box-sizing: border-box;
}

.coord {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.ship {
    margin-bottom: 5px;
    color: #fb8500;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #90e0ef;
  box-sizing: border-box;
}

#enemy-board .cell {
border: 1px solid red;
}

#player-board .cell {
border: 1px solid green;
}

